# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform crash logs
crash.log

# Ignore .terraform directory
.terraform/

# Ignore any local variables or override files
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json

# Ignore sensitive key files
*.pem
*.pub

# Ignore IDE and system files
.D

